@using VibeNet.Core.ViewModels
@model VibeNetUserProfileViewModel

<link rel="stylesheet" href="~/css/ShowProfileStyleSheet.css" asp-append-version="true" />

<div class="main-container">
    <div class="profile-container">
        <div class="d-flex justify-content-center mb-4 img-container">
            <img id="selected-avatar" src="@ViewBag.Base64String" class="rounded-circle" alt="Profile Avatar" />
        </div>

        <div class="profile-info mt-4">
            <h2>@Model.FirstName @Model.LastName</h2>
            <p class="text-muted">@Model.HomeTown</p>
            <p><strong>Birthday:</strong> @Model.Birthday</p>
            <p><strong>Gender:</strong> @Model.Gender</p>
            <div class="textarea-container">
                <label class="status-label">How you feel today?</label>
                <form class="form-container" asp-action="Add" asp-controller="Post" method="post">
                    <textarea asp-for="@Model.PostContent" class="form-control" rows="4" cols="50"></textarea>
                    <button type="submit" class="btn-primary">Post</button>
                </form>
            </div>
        </div>
    </div>
    <a asp-controller="Post" asp-action="AllPosts" asp-route-userId="@Model.IdentityId" id="registerSubmit" class="btn-primary my-posts-button">Show Posts</a>
</div>



